mixin card( dataCard ) 
    article.dashboard__social-media(
        class= dataCard.borderColor,
        data-cy= "bg-card-dark",
        bg-card-dark
    )
        div 
            .social-media__item
                img.mr-5(
                    src= URL_IMAGES + dataCard.icon
                    alt= dataCard.name
                )
                p= dataCard.username
            .social-media__data 
                p= dataCard.followers
                p.txt-follow(text-follow-dark) FOLLOWERS
            .social-media__item 
                img(
                    src= URL_IMAGES + `${ dataCard.increment ? 'icon-up' : 'icon-down' }.svg `
                    alt="describe icon"
                )
                p(
                    class= `${ dataCard.increment ? 'text-increment': 'text-danger' }`,
                    text-dark= "" + dataCard.increment
                )= `${dataCard.number} Today`

