mixin details( dataDetails )
    article.description__data(
        data-cy= "bg-card-dark"
        bg-card-dark
    )
        p.data__type(
            data-cy= "title-dark"
            title-dark
        )= dataDetails.desc 
        img.data__icon(
            src= URL_IMAGES + dataDetails.icon 
            alt= dataDetails.name
        )
        p.data__number= dataDetails.number 
        .data__percent
            img.mr-5(
                src= URL_IMAGES + `${ dataDetails.increment ? 'icon-up' : 'icon-down' }.svg `
                alt= "describe icon"
            )
            p(
                class= `${ dataDetails.increment ? 'text-increment': 'text-danger' }`
                text-dark= "" + dataDetails.increment
            )= dataDetails.percent + "%"